# macOS
.DS_Store
.DS_Store?


# Xcode
.idea/
xcuserdata/


# Visual Studio Code
.vscode
*.code-workspace


# emacs
*~


# CMake
version.hpp
*Config.cmake
*ConfigVersion.cmake


# Build and back-up folders
build*/
cmake-build-*/
release*/
debug*/

*backup*/
*back-up*/

__pycache__

.ipynb_checkpoints


# Output files
*.output


# Node.js and yarn
node_modules
site/website/yarn.lock
i18n/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
