# macOS
.DS_Store
.DS_Store?


# Xcode
.idea/
xcuserdata/


# Visual Studio Code
.vscode
*.code-workspace


# emacs
*~


# CMake
version.hpp
*Config.cmake
*ConfigVersion.cmake


# Build and back-up folders
build*/
cmake-build-*/
release*/
debug*/

*backup*/
*back-up*/

__pycache__

.ipynb_checkpoints


# Output files
*.output
