[submodule "tools/copyright_headers"]
	path = tools/copyright_headers
	url = https://github.com/GQCG/copyright_headers
[submodule "spectra"]
	path = spectra
	url = https://github.com/yixuan/spectra.git
